


@page "{id:int}"
@model WebApi.Pages.ChainByIdModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ru">
    
    <head>
        @await Html.PartialAsync("Components/Header")
        <link rel="stylesheet" type="text/css" href="~/css/ChainById.css" />
    </head>
    <body>
        <div>
            @if (@Model.Chain is null)
            {
              <div class="chain_alert alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>Chain не найден 👀</strong> <br> Chain с id @Model.Id не был найден.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            }
            @if (@Model.Chain is not null) 
            {
                <div class="chain_block chain_info">

                    <div class="row">
                        <div class="col d-flex justify-content-start mr-5">
                            <button type="submit" class="btn btn-primary global_button" onclick="window.location.href='/UpdateChainProgect/@Model.Id'">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <form method="post">
                                <button type="submit" class="btn btn-primary global_button" asp-page-handler="deleteChain"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                    
                    <p class="chains_title">Тестируемый объект</p>
                    <p class="chains_label">@Model.Chain!.PentestObj</p>
                    <p class="chains_title">Используемые технологии</p>
                    <div class="container row tag_container">
                        @foreach (var tag in @Model.Chain!.Tags)
                        {
                            <a href="@tag.InstrumentUrl" class="col col-md-4 badge rounded-pill text-bg-@tag.TagColor">
                                @tag.InstrumentName
                            </a>
                        }
                    </div>
                </div>
            }
            
            @if (@Model.ChainSteps!.Count > 0)
            {
                <div class="chain_step_container">
                    @foreach (var chainStep in @Model.ChainSteps)
                    {
                        @if (chainStep.StepId % 2 == 0)
                        {
                            <div class="light_chainstep">
                                <div class="chain_step row">
                                    <div class="col-sm-0 col-md"></div>
                                    <div class="col d-flex align-items-center justify-content-center order-2 order-md-1">
                                        <div class="chains_title d-flex justify-content-center align-items-center">
                                            <iframe src="~/csv/[.svg" width="15" height="50" sandbox></iframe>
                                            <div>@chainStep.Start @chainStep.End</div>
                                            <iframe src="~/csv/].svg" width="15" height="50" sandbox></iframe>
                                        </div>
                                    </div>
                                    <div class="col order-1 order-md-2">
                                        <p class="chains_title">@chainStep.Title</p>
                                        <p class="chains_description">@chainStep.Description</p>
                                        <div class="row mt-3">
                                            <div class="col d-flex justify-content-start">
                                                <button type="submit" class="btn btn-primary global_button" onclick="window.location.href='/UpdateChainStep/@chainStep.Id'">
                                                    <i class="bi bi-pencil-square"></i>
                                                </button>
                                                <form method="post">
                                                    <input asp-for="ChainStepId" type="hidden" value="@chainStep.Id"/>
                                                    <button type="submit" class="btn btn-primary global_button" asp-page-handler="delete"><i class="bi bi-trash"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="chain_step row">
                                <div class="col">
                                    <p class="chains_title">@chainStep.Title</p>
                                    <p class="chains_description">@chainStep.Description</p>
                                    <div class="row mt-3">
                                        <div class="col d-flex justify-content-start">
                                            <button type="submit" class="btn btn-primary global_button" onclick="window.location.href='/UpdateChainStep/@chainStep.Id'">
                                                <i class="bi bi-pencil-square"></i>
                                            </button>
                                            <form method="post">
                                                <input asp-for="ChainStepId" type="hidden" value="@chainStep.Id"/>
                                                <button type="submit" class="btn btn-primary global_button" asp-page-handler="delete"><i class="bi bi-trash"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-flex align-items-center justify-content-center">
                                    <div class="chains_title d-flex justify-content-center align-items-center">
                                        <iframe src="~/csv/[.svg" width="15" height="50" sandbox></iframe>
                                        <div>@chainStep.Start @chainStep.End</div>
                                        <iframe src="~/csv/].svg" width="15" height="50" sandbox></iframe>
                                    </div>
                                </div>
                                <div class="col-sm-0 col-md"></div>
                            </div>
                        }
                    }
                </div>
            }
            else
            {
                <div class="chain_alert alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Список ChainStep пуст 👀</strong> <br> Цепочка не содержит шагов.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            
            <div class="d-block justify-content-center chain_add chain_block">
                <form method="post">
                    <p class="chains_H1">Создание ChainStep</p>
                    <div class="row mt-3">
                        <div class="col col-md-4">
                            <label class="chains_title">Название этапа</label>
                        </div>
                        <div class="col">
                            <input asp-for="ChainStepRequest.Title" type="text" class="form-control" placeholder="название">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4 col">
                            <label class="chains_title">Промежуток</label>
                        </div>
                        <div class="col d-flex align-items-center justify-content-start">
                            <div class="chains_title d-flex align-items-center justify-content-start">
                                <iframe src="~/csv/[.svg" width="15" height="50" sandbox></iframe>
                                <input asp-for="ChainStepRequest.Start" type="date" class="form-control-sm">
                                <input asp-for="ChainStepRequest.End" type="date" class="form-control-sm">
                                <iframe src="~/csv/].svg" width="15" height="50" sandbox></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col col-md-4">
                            <label class="chains_title">Описание</label>
                        </div>
                        <div class="col">
                            <textarea asp-for="ChainStepRequest.Description" type="text" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-info global_button mt-4" asp-page-handler="add">Добавить новый ChainStep</button>
                </form>
            </div>
        </div>
    </body>
</html>